/.venv
/.vscode
/backend/__pycache__
/backend/.venv
/backend/.env
/backend/app/database/__pycache__
/backend/app/models/__pycache__
/backend/app/utils/__pycache__
/backend/app/services/__pycache__
/backend/app/api/__pycache__
/backend/app/services/Ingest/__pycache__
/backend/app/services/Retrieve/__pycache__
/backend/app/services/Generate/__pycache__
/frontend/.venv
/documents
/backend/app/database/tempDB